* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

html,
body {
  margin: 0;
}

#root {
  position: fixed;
  inset: 0px;
  overflow: hidden;
  background: green;
}
